node_modules/
.next/
out/
*.tsbuildinfo
.env
.env.local
.env*.local
.vercel
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
*.tsbuildinfo
next-env.d.ts
/supabase/.branches
/supabase/.temp
